/* Conteneur */
.Appli {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */

  /* Formatage du sigle de devise en français */
  .montant-fr::after {
    content: ' $';
  }
}
